.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notFound h2 {
  padding: 1rem;
}

.notFound p {
  margin-bottom: 1rem;
}

.notFound button {
  width: fit-content;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
