# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# production
build
dist

# misc
.DS_Store
*.pem
*.crt
*.key

# debug
*.log

# vercel
.vercel

# next.js
.next
out
next-env.d.ts

# typescript
*.tsbuildinfo

# editor folders
.idea

# local env files
.env*.local
