.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.table,
.tableHead,
.tableData {
  border: 1px solid;
  border-collapse: collapse;
}

.tableHead {
  padding: 1rem;
}

.tableData {
  padding: 1rem;
  width: 200px;
  text-align: center;
}
