.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errorContainer h2 {
  padding: 1rem;
}

.errorContainer p {
  margin-bottom: 1rem;
}

.errorContainer button {
  width: fit-content;
  margin: 0 auto;
  padding: 0.5rem 1rem;
}
