* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --toastify-z-index: 99999;
}

[data-theme='light'] {
  --theme-white: #fff;
  --theme-black: #000;
}

[data-theme='dark'] {
  --theme-white: #000;
  --theme-black: #fff;
}

body {
  background-color: var(--theme-white);
  color: var(--theme-black);
}

/* Utils */

.text-center {
  text-align: center;
}

/* Website Loader */

.website-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--theme-white);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100lvw !important;
  z-index: 99998;
}

.website-loader img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.website-loader-transparent {
  opacity: 0.75;
}

.dark-mode .website-loader img {
  filter: invert(1);
}
