.container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 1rem;
  border: 1px solid;
  font-size: 20px;
  margin-bottom: 1rem;
}

.link {
  margin-right: 10px;
  text-decoration: none;
}

.btn {
  cursor: pointer;
  position: absolute;
  right: 1rem;
}
